<tr>
  <td><%= expense.id %></td>
  <td><%= expense.credit_day %></td>
  <td><%= expense.value %></td>
  <td><span class="label label-info"><%= expense.expense_type %></span></td>
  <td><span class="label label-info"><%= expense.subtype %></span></td>
  <td><span class="label label-info"><%= expense.detailtype %></span></td>
  <td><%= expense.marks %></td>
  <td>
    <%= link_to "详情", expense_path(expense), class: "btn btn-info" %>
    <%= link_to "编辑", edit_expense_path(expense), class: "btn btn-default" %>
    <%= link_to "删除", expense_path(expense), method: :delete, class: "btn btn-danger" %>
  </td>
</tr>
