<%= form_for @account do |f| %>
  <div class="form-group field">
    <%= f.label :工资性收入 %>
    <%= f.number_field :general_income, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :其它收入 %>
    <%= f.number_field :other_income, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "accounts/shared/links" %>
